.janelinha {
    width: 300px;
    height: 200px;
    background-color: rgb(255, 211, 107);
    left: 50%;
    top: 50vh;
    position: absolute;
    margin-left: -100px;
    margin-top: -150px;
    display: none;
}

button {
    background-color: rgb(222, 253, 160);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media print {
    .BT {
        display: none;
    }

    .D1 {
        display: none;
    }
    .D2 {
        display: none;
    }
}